<div class="container mb-3">

    <div class="section-header">
        <p>Etablissement de <span>confiance</span></p>
      </div>
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
        <div class="col-lg-2 col-md-4 col-6 mt-3">
        
            <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/top_logo.png" alt="">
          
        </div>
        <div class="col-lg-2 col-md-4 col-6 mt-3">
        
            <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/maxresdefault.jpg" alt="">
          
        </div>
      <div class="col-lg-1 col-md-4 col-6 mt-3">
        
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/cogepha.jpg" alt="">
        
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-3">
        
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/sirtec-logo.jpg" alt="">
        
      </div>
      <div class="col-lg-1 col-md-4 col-6 mt-3">
        
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/logo_teletec.png" alt="">
        
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-3">
        
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/cc1.jpg" alt="">
        
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-3">
        
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/Omv_logo.png" alt="">
        
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-3">
        
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/logo-agil.png" alt="">
        
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-3">
        
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/consolis-logo .jpg" alt="">
        
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-3">
        
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/sitep.jpg" alt="">
        
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-3">
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/téléchargement.jpg" alt="">
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-3">
        
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/logo-10969-20160721-113420.png" alt="">
        
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-3">
          <img class="img-fluid img-thumbnail size" src="../../../assets/img/etablissement/logo-banque-big.png" alt="">
      </div>
    </div>
  
  </div>