<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>ENTREPRISE</h2>
        <p id="font">En savoir plus  <span>sur nous</span></p>
      </div>
      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url(../../../assets/img/about.jpg) ; background-repeat: no-repeat; min-height: 2500;" data-aos="fade-up" data-aos-delay="150">
        </div>
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              TGE, Tunisie Groupes Électrogènes, leader sur le marché de la commercialisation des groupes électrogènes en Tunisie, répondant à des normes internationales.
            <ul>
              <li><i class="bi bi-check2-all"></i> Sa qualité de service et sa capacité à fournir des solutions personnalisées pour répondre aux besoins spécifiques de chaque client.</li>
              <li><i class="bi bi-check2-all"></i> propose une large gamme de solutions d'énergie pour répondre aux besoins de différents secteurs tels que l'industrie, les télécommunications, les hôpitaux, les banques et les institutions publiques.</li>
            </ul>
            <p>
              Grâce à son expérience de plusieurs années dans le domaine, le groupe tunisien d'électrogènes est aujourd'hui considéré comme l'un des leaders du marché des groupes électrogènes en Tunisie et est reconnu pour sa fiabilité, sa flexibilité et son engagement envers la satisfaction de sa clientèle.
            </p>
            <div class="position-relative mt-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

