<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="section-header">
        <p id="font">Nos <span>Services</span></p><br>
      </div>
      <div class="col-lg-12 d-flex align-items-center">
        <div class="row gy-4">
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box flex-column justify-content-center align-items-center">
              <a href="assets/img/1.jpg" class="glightbox"><img src="assets/img/1.jpg" class="menu-img img-fluid" alt=""></a>
              <br><br><h4>RÉPARATION EN ATELIERS</h4>
          <p class="details">
            Effectuez toutes vos opérations de démontage, de diagnostic et de montage de vos machines dans nos ateliers certifiés "Caterpillar Contamination Control".
          </p>
            </div>
          </div>
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box flex-column justify-content-center align-items-center">
              <a href="assets/img/2.jpg" class="glightbox"><img src="assets/img/2.jpg" class="menu-img img-fluid" alt=""></a>
              <br><br> <h4>Reconditionnement des Composants</h4>
              <p class="details">
                Le reconditionnement est une remise en état des composants selon des méthodes rigoureuses et des procédures préconisées par CATERPILLAR. Les pièces usées ou endommagées sont réparées ou remplacées par des pièces neuves d’origine.
              </p>
            </div>
          </div>
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box flex-column justify-content-center align-items-center">
              <a href="assets/img/3.jpg" class="glightbox"><img src="assets/img/3.jpg" class="menu-img img-fluid" alt=""></a>
              <br><br> <h4>RÉNOVATION DES MACHINES</h4>
                <p class="details">
                  Les machines sont rénovées selon les normes Caterpillar par des techniciens spécialisés et en utilisant uniquement des pièces d’origine Cat®.
                </p>
            </div>
          </div>
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box flex-column justify-content-center align-items-center">
              <a href="assets/img/4.jpg" class="glightbox"><img src="assets/img/4.jpg" class="menu-img img-fluid" alt=""></a>
               <br><br>  <h4>OÙ QUE VOUS SOYEZ NOUS INTERVENONS
                DANS LES PLUS BREFS DÉLAIS</h4>
              <p class="details">
                Des techniciens itinérants vous offrent un service de proximité et vous garantissent des prestations de service hautement qualifiées: Diagnostic, entretien et réparation.
              </p>
            </div>
          </div>
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box flex-column justify-content-center align-items-center">
              <a href="assets/img/5.jpg" class="glightbox"><img src="assets/img/5.jpg" class="menu-img img-fluid" alt=""></a>
              <br><br>   <h4>SERVICE DÉPANNAGE DE FLEXIBLES HYDRAULIQUES SUR SITE</h4>
              <p class="details">
                Nous intervenons sur site en urgence sur tout le territoire pour limiter au maximum le temps d’immobilisation de votre matériel.
              </p>
            </div>
          </div>
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box flex-column justify-content-center align-items-center">
              <a href="assets/img/6.jpg" class="glightbox"><img src="assets/img/6.jpg" class="menu-img img-fluid" alt=""></a>
              <br><br>  <h4>
                Customer Value Agreement (CVA)</h4>
              <p class="details">
                Protégez votre équipement Cat avec un contrat de maintenance (CVA), que votre machine soit neuve, d’occasion ou qu’elle fasse partie de votre parc existant. Le CVA vous aidera à tirer le meilleur parti de votre machine, en réduisant vos coûts de possession et d’exploitation tout en vous offrant une tranquillité d’esprit en tant que propriétaire.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>