<div id="login" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login-form border p-5">
            <div class="text-center heading">
              <h2 class="mb-2" style="padding-bottom: 10px;">Changer votre mot de passe</h2>  
            </div>
            <div class="section-header">
              <p id="font"class="mb-2" style="padding-bottom: 10px;">Changer votre mot de passe</p> 
            </div>
                <form [formGroup]='passwordForm' class="mt-5">
                    <div class="form-row" >
                    <label style="margin-bottom: 5px;" for="#">Entrer votre Mot de passe</label>
                    <input style="margin-bottom: 10px;" type="password" class="form-control" placeholder="********" formControlName="Mdp">
                    <div
                      *ngIf="passwordForm.controls['Mdp'].invalid && (passwordForm.controls['Mdp'].dirty || passwordForm.controls['Mdp'].touched)">
                      <div *ngIf="passwordForm.controls['Mdp'].errors.minlength" style="color : red;"><i class="bi bi-info-circle" aria-required="true"></i> Mot de passe doit
                        avoir
                        au moins 8 caractéres !</div>
                      <div *ngIf="passwordForm.controls['Mdp'].errors.required" style="color : red;"> <i class="bi bi-info-circle" aria-required="true"></i> Mot de passe est
                        obligatoire !</div>
                    </div>
                  </div>
                  <br>
                  <div class="form-row" >
                    <label style="margin-bottom: 5px;" for="#">Confirmer votre Mot de passe</label>
                    <input style="margin-bottom: 10px;" type="password" class="form-control" placeholder="********" formControlName="mdpConfirmation">
                    <div
                      *ngIf="passwordForm.controls['mdpConfirmation'].invalid && (passwordForm.controls['mdpConfirmation'].dirty || passwordForm.controls['mdpConfirmation'].touched)">
                      <div *ngIf="passwordForm.controls['mdpConfirmation'].errors.confirmPasswordValidator"
                        style="color : red;"> <i class="bi bi-info-circle" aria-required="true"></i> La confirmation est incorrecte !</div>
                      <div *ngIf="passwordForm.controls['mdpConfirmation'].errors.required" style="color : red;"><i class="bi bi-info-circle" aria-required="true"></i> La
                        confirmation du mot de passe est obligatoire !</div>
                    </div>
                  </div>
  <br>
                  <a (click)="changePassword()" class="btn-book-a-table">Sauvegarder</a>
                </form>
              </div>
            </div>   
        </div>
      </div>
    </div>