<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Contact</h2>
        <p>Besoins d'aide <span>Contactez-nous</span></p>
      </div>
      <div class="row gy-4">
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Notre Email</h3>
              <a href="https://mail.google.com/mail/?view=cm&to=jelilbrahmi84@gmail.com" target="_blank"><p>jelilbrahmi84@gmail.com</p></a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3> Appelez-nous</h3>
              <p>71 759 503</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-clock flex-shrink-0"></i>
            <div>
              <h3>Horaires d'ouvertures</h3>
              <div><strong>Lundi-Vendredi:</strong> 08h00 - 18h00<br>
                <strong>Samedi:</strong> 08h00 - 12h00<br>
                <strong>Dimanche:</strong> Closed
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Fax</h3>
                <p> 71 759 504</p>            
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>GSM</h3>
                <p>98 323 012</p>            
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <a href="https://www.facebook.com/profile.php?id=100066593181070">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-facebook flex-shrink-0"></i>
              <div>
                <h3>Facebook</h3>
                <p>Tunisie Groupe Electrogéne</p>            
              </div>
            </div>
            </a>
          </div>
      </div>
    </div>
  </section>
