<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p id="font">Localisation</p>
        <h2>Où  <span>sommes-nous</span></h2>
        <br>
      </div>
      <div class="mb-3">
        <a href="https://www.google.com/maps/place/T.G.E+Tunisie+Groupes+Electrogenes+./@36.8708011,10.2433917,15z/data=!4m14!1m7!3m6!1s0x12e2cb06791760b3:0xbbaefa3f715cbb48!2sT.G.E+Tunisie+Groupes+Electrogenes+.!8m2!3d36.8705608!4d10.2468249!16s%2Fg%2F11f9dq76v5!3m5!1s0x12e2cb06791760b3:0xbbaefa3f715cbb48!8m2!3d36.8705608!4d10.2468249!16s%2Fg%2F11f9dq76v5">
        <img src="../../../assets/img/Localisation.png" id ="loc" >
    </a>
       </div>
      <div class="row gy-4">
        <div class="col-md-12">
          <div class="info-item  d-flex align-items-center" >
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Notre Addresse</h3>
              <p>8, Rue des Oranges (ex.Ras Jedir)-Dar Fadhal La soukra – 2036 Ariana – Tunisie</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
