
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-between text-lg-start">  
          <div class="section-header">
            <p id="font" data-aos="fade-up">TGE,<br><br>Tunisie Groupes Électrogènes</p>
          </div>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a routerLink="entreprise" class="btn-book-a-table">Détailles</a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="../../../assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section>
  
  <main id="main">
  

  <app-entreprise></app-entreprise>
  

  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="section-header">
          <p id="font">Nos <span>Services</span></p><br>
        </div>
        <div class="col-lg-12 d-flex align-items-center">
          <div class="row gy-4">
            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box flex-column justify-content-center align-items-center">
                <a href="assets/img/1.jpg" class="glightbox"><img src="assets/img/1.jpg" class="menu-img img-fluid" alt=""></a>
                <br><br><h4>RÉPARATION EN ATELIERS</h4>
            <p class="details">
              Effectuez toutes vos opérations de démontage, de diagnostic et de montage de vos machines dans nos ateliers certifiés "Caterpillar Contamination Control".
            </p>
              </div>
            </div>
            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box flex-column justify-content-center align-items-center">
                <a href="assets/img/2.jpg" class="glightbox"><img src="assets/img/2.jpg" class="menu-img img-fluid" alt=""></a>
                <br><br> <h4>Reconditionnement des Composants</h4>
                <p class="details">
                  Le reconditionnement est une remise en état des composants selon des méthodes rigoureuses et des procédures préconisées par CATERPILLAR. Les pièces usées ou endommagées sont réparées ou remplacées par des pièces neuves d’origine.
                </p>
              </div>
            </div>
            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box flex-column justify-content-center align-items-center">
                <a href="assets/img/3.jpg" class="glightbox"><img src="assets/img/3.jpg" class="menu-img img-fluid" alt=""></a>
                <br><br> <h4>RÉNOVATION DES MACHINES</h4>
                  <p class="details">
                    Les machines sont rénovées selon les normes Caterpillar par des techniciens spécialisés et en utilisant uniquement des pièces d’origine Cat®.
                  </p>
              </div>
            </div>
            <div class="col-lg-3"></div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                  <h3 style="text-align: center;">TGE SERVICES</h3>
                  <div class="text-center">
                    <a routerLink="service" class="more-btn">Consulter nos services <i class="bx bx-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <app-localisation></app-localisation>

    <app-contactez-nous></app-contactez-nous>
  
    <app-etablissement></app-etablissement>
  </main>
