mat-grid-tile{
    border : 1px solid #295190;
}
.btn-remove-image{
    position: absolute;
    cursor: pointer;
    top: -16px;
    right: -16px;
    color: red;
    border-radius: 100%;
    width: 20px;
    height: auto;
    text-align: center;
}
.dropzone{
    height: 150px;
    min-width: 100px;
    display: table;
    background-color: #eee;
    width: 300px;
    border: dashed 1px #295190;
    border-radius: 10px;

}
.text-wrapper{
    display: table-cell;
    vertical-align: middle;
}
.centered{
    text-align: center;
}
.depose-button{
    cursor: pointer;
}
.btn-book-a-table{
    border: #890d0e;
}