<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt icon"></i>
        <div>
          <h4>
            Notre Addresse</h4>
          <p>
            8, Rue des Oranges (ex.Ras Jedir)-Dar Fadhal La soukra – 2036 Ariana – Tunisie<br>
          </p>
        </div>

      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>Reservations</h4>
          <p>
            <strong>Phone:</strong>71 759 503<br>
            <strong>Email:</strong><a href="https://mail.google.com/mail/?view=cm&to=jelilbrahmi84@gmail.com"
              target="_blank">
              jelilbrahmi84@gmail.com
            </a>
            <br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>Horaires d'ouvertures</h4>
          <p>
            <strong>Lundi-Vendredi: </strong> 8h00 - 18h00<br>
            <strong>Samedi: </strong>8h00-12h00<br>
            <strong>Dimanche: </strong>Fermé
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Suivez-nous</h4>
        <div class="social-links d-flex">
          <a href="https://www.facebook.com/profile.php?id=100066593181070" class="facebook"><i
              class="bi bi-facebook"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer><!-- End Footer -->